<template>
  <v-app>
    <v-main>
      <router-view></router-view>
        <v-btn
            v-if="!this.user"
            @click="redirect_to_login"
            color="white"
            class="v-btn-user"
            outlined
            fab
            top
            right
        >
          <v-icon>
            mdi-account
          </v-icon>
        </v-btn>
      <v-speed-dial
          v-else
          direction="bottom"
          transition="slide-y-transition"
          top
          right
      >
        <template v-slot:activator>
          <v-btn
              outlined
              fab
          >
            <v-icon>
              mdi-account
            </v-icon>
          </v-btn>
        </template>
        <v-btn
          fab
          small
          outlined
          to="/"
        >
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-btn
            fab
            small
            outlined
            to="/profile/"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
            fab
            small
            outlined
            to="/favorites/"
        >
          <v-icon>mdi-heart</v-icon>
        </v-btn>
        <v-btn
            fab
            small
            outlined
            @click="logout"
        >
          <v-icon>mdi-logout-variant</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-main>
  </v-app>
</template>

<script>

import { mapState } from "vuex"

export default {
  name: "App",
  data: () => ({
  }),
  computed: {
    ...mapState(["user", "access_token"])
  },
  methods: {
    redirect_to_login () {
      const previous_page = this.$router.currentRoute.query.from
      if (previous_page) {
        this.$router.push("/login/?from=" + previous_page)
      } else {
        this.$router.push("/login/?from=" + this.$router.currentRoute.fullPath)
      }
    },
    logout () {
      this.$router.push("/")
      this.$store.dispatch("logout")
    }
  },
  created () {
    if (this.access_token) {
      this.$store.dispatch("refresh_token").then(() => {
        this.$store.dispatch("retrieve_user").then()
      })
    }
  }
}
</script>

<style>
.v-application--wrap {
  background: linear-gradient(to bottom, #ff5252, #270202);
  overflow: hidden;
}

.v-main .v-speed-dial, .v-main .v-btn-user {
  position: fixed;
}

.v-main .v-btn-user {
  top: 16px;
  right: 16px;
}

.v-main .v-btn--floating {
  position: relative;
}
</style>
