<template>
  <v-container fluid style="height: 100%">
    <v-row align="center" justify="center" class="text-center" style="height: 100%">
      <v-col cols="11" md="7">
        <h1 class="white--text mb-3">Marvel Stone Case</h1>
        <v-form @submit.prevent="search">
          <v-text-field
              v-model="search_text"
              placeholder="Encontre personagens ou comics"
              height="70"
              style="font-size: 22px;"
              solo
          ></v-text-field>
        </v-form>
        <v-row align="center" justify="center">
          <v-col cols="4">
            <v-btn color="white" width="100%" outlined :to="{ name: 'List', params: {tab_index:0}}">Personagens</v-btn>
          </v-col>
          <v-col cols="4">
            <v-btn color="white" width="100%" outlined :to="{ name: 'List', params: {tab_index:1}}">Criadores</v-btn>
          </v-col>
          <v-col cols="4">
            <v-btn color="white" width="100%" outlined :to="{ name: 'List', params: {tab_index:2}}">Quadrinhos</v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: "Home",
  data: () => ({
    search_text: ""
  }),
  methods: {
    search () {
      this.$router.push({ name: "List", params: { search_text: this.search_text } })
    }
  }
}
</script>

<style scoped>
html {
  overflow: hidden;
}
</style>
