<template>
  <v-container>
    <v-toolbar dense rounded>
      <v-toolbar-title v-if="search_text">Mostrando resultados para: {{ search_text }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon to="/">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <template v-slot:extension>
        <v-tabs grow color="dark" v-model="tab_index">
          <v-tab v-for="tab in tabs" :key="tab.title">{{ tab.title }}</v-tab>
        </v-tabs>
      </template>
    </v-toolbar>
    <v-card rounded class="mt-4">
      <v-card-text>
        <v-tabs-items v-model="tab_index">
          <v-tab-item v-for="tab in tabs" :key="tab.title">
            <v-container>
              <v-list>
                <v-list-item
                    v-for="content in tab.content.slice((page-1)*10, page*10)"
                    :key="content.id"
                    @click.stop="selected_obj = content; dialog = true">
                  <v-list-item-avatar>
                    <v-img :src="content.thumb"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{ content.name || content.title }}</v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-btn icon @click.stop="favorite_handle(tab.slug, content.id)" color="#6a1b1b">
                      <v-icon v-if="tab.favorites && tab.favorites.indexOf(content.id) !== -1">mdi-heart</v-icon>
                      <v-icon v-else>mdi-heart-outline</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </v-container>
            <v-pagination
                v-model="page"
                :length="Math.ceil(tab.content.length / 10)"
                total-visible="6"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                color="#6a1b1b"
            ></v-pagination>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
    <v-dialog v-model="dialog" v-if="selected_obj">
      <v-card color="#6a1b1b" >
        <v-card-title></v-card-title>
        <v-card-text>
          <v-row>
            <v-col md="4">
              <v-img :src="selected_obj.thumb"></v-img>
            </v-col>
            <v-col md="8">
              <h2 class="white--text d-flex">
                <span>{{ selected_obj.name || selected_obj.title }}</span>
                <v-spacer></v-spacer>
                <span v-if="selected_obj.pages">{{ selected_obj.pages}} Páginas</span>
              </h2>
              <h4 class="white--text mt-3" v-html="selected_obj.description"></h4>
              <h4 class="white--text mt-3" v-if="selected_obj.price">Preço {{ selected_obj.price}}</h4>
              <h2 class="white--text my-3" v-if="selected_obj.characters">Personagens</h2>
              <v-row v-if="selected_obj.characters">
                <v-col cols="4" md="3" v-for="character in selected_obj.characters" :key="character.id">
                  <v-card color="transparent" elevation="0" @click.stop="selected_obj = character">
                    <v-img :src="character.thumb" width="200" height="200"></v-img>
                    <v-card-title class="white--text text-truncate">{{ character.name }}</v-card-title>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from "vuex"

export default {
  name: "List",
  props: {
    search_text: {
      type: String,
      default: ""
    },
    tab_index: {
      type: Number,
      default: 0
    }
  },
  data: () => ({
    page: 1,
    dialog: false,
    selected_obj: null
  }),
  computed: {
    ...mapState(["characters", "creators", "comics", "favorites", "user"]),
    tabs () {
      return [
        {
          title: "Personagens",
          slug: "characters",
          content: this.characters.filter(c =>
            c.name.toLowerCase().indexOf(this.search_text.toLowerCase()) !== -1),
          favorites: this.favorites.characters
        },
        {
          title: "Criadores",
          slug: "creators",
          content: this.creators.filter(c =>
            c.name.toLowerCase().indexOf(this.search_text.toLowerCase()) !== -1),
          favorites: this.favorites.creators
        },
        {
          title: "Quadrinhos",
          slug: "comics",
          content: this.comics.filter(c =>
            c.title.toLowerCase().indexOf(this.search_text.toLowerCase()) !== -1),
          favorites: this.favorites.comics
        }
      ]
    }
  },
  methods: {
    async favorite_handle (slug, item) {
      if (!this.user) {
        await this.$router.push("/login/?from=/list")
      }
      await this.$store.dispatch("refresh_token")
      await this.$store.dispatch("update_favorites", { slug, item })
    }
  },
  created () {
    if (this.user) {
      this.$store.dispatch("refresh_token").then(() => {
        this.$store.dispatch("retrieve_favorites")
      })
    }
    this.$store.dispatch("retrieve_characters", { name: null })
    this.$store.dispatch("retrieve_creators", { name: null })
    this.$store.dispatch("retrieve_comics", { name: null })
  }
}
</script>

<style scoped>

</style>
