<template>
  <v-row
    class="text-center"
    justify="center"
    align="center"
    style="height: 100%"
  >
    <v-col cols="11" md="3">
      <h2 class="mb-4 white--text">Por favor, entre</h2>
      <v-alert
        dense
        v-if="form_error"
        color="#6a1b1b"
        icon="mdi-alert-circle"
        class="white--text text-left">
        Usuário ou Senha incorretos
      </v-alert>
      <form ref="form" @submit.prevent="submit">
        <v-text-field
          v-model="form.email"
          :error-messages="email_errors"
          type="email"
          label="E-mail"
          color="white"
          required
          solo
          dense
        ></v-text-field>
        <v-text-field
          v-model="form.password"
          :error-messages="password_errors"
          type="password"
          label="Senha"
          color="grey darken-3"
          solo
          required
          dense
        ></v-text-field>
        <p class="my-4 white--text">Ainda não tem cadastro?
          <router-link to="/register/" class="white--text">Cadastre-se</router-link>
        </p>
        <v-btn
          color="white"
          type="submit"
          :loading="is_loading"
          outlined
          x-large
        >
          Entrar
        </v-btn>
      </form>
    </v-col>
  </v-row>
</template>

<script>
import { required, email } from "vuelidate/lib/validators"
import { mapState } from "vuex"

export default {
  name: "Login",

  data: () => ({
    is_loading: false,
    form_error: false,
    form: {
      email: "",
      password: ""
    }
  }),
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: { required }
    }
  },
  computed: {
    ...mapState(["user", "access_token"]),
    email_errors () {
      const errors = []
      if (!this.$v.form.email.$dirty) return errors
      !this.$v.form.email.required && errors.push("Email Obrigátorio")
      !this.$v.form.email.email && errors.push("Você usar um email válido")
      return errors
    },
    password_errors () {
      const errors = []
      if (!this.$v.form.email.$dirty) return errors
      !this.$v.form.password.required && errors.push("Senha Obrigátorio")
      return errors
    }
  },
  methods: {
    submit () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.is_loading = true
        this.$store.dispatch("retrieve_tokens", this.form).then(r => {
          if (r) {
            this.login()
          } else {
            this.form_error = true
            this.is_loading = false
          }
        })
      }
    },
    login () {
      this.$store.dispatch("retrieve_user").then(async r => {
        if (!r) {
          await this.$store.dispatch("refresh_token")
          await this.$store.dispatch("retrieve_user")
        }
        this.is_loading = false
        if (this.user) {
          try {
            this.$router.push(this.$router.currentRoute.query.from.toString())
          } catch (e) {
            this.$router.push("/")
          }
        } else {
          this.form_error = true
        }
      })
    }
  },
  created () {
    if (this.access_token) {
      if (this.user) {
        try {
          const previous_page = this.$router.currentRoute.query.from
          this.$router.push(previous_page)
        } catch (e) {
          this.$router.push("/")
        }
      } else {
        this.login()
      }
    }
  }
}
</script>
