<template>
  <v-row
      class="text-center"
      justify="center"
      align="center"
      style="height: 100%"
  >
    <v-col cols="11" md="3">
      <h2 class="mb-4 white--text">Bem vindo, {{ user.first_name }} {{ user.last_name }}</h2>
      <v-alert v-for="warning in warnings"
               :key="warning.message"
               border="left"
               :color="warning.color"
               dark dense>
        <v-icon>mdi-alert-circle-outline</v-icon>
        <span> {{ warning.message }}</span>
      </v-alert>
      <form ref="form" @submit.prevent="submit">
        <v-text-field
          v-model="form.email"
          :error-messages="email_errors"
          type="email"
          label="E-mail"
          color="grey darken-3"
          required
          solo
          dense
          disabled
        ></v-text-field>
        <v-text-field
            v-model="form.first_name"
            :error-messages="first_name_errors"
            type="text"
            label="Nome"
            color="grey darken-3"
            required
            solo
            dense
        ></v-text-field>
        <v-text-field
            v-model="form.last_name"
            :error-messages="last_name_errors"
            type="text"
            label="Sobrenome"
            color="grey darken-3"
            required
            solo
            dense
        ></v-text-field>
        <v-text-field
            v-model="form.password"
            :error-messages="password_errors"
            type="password"
            label="Senha"
            color="grey darken-3"
            solo
            required
            dense
        ></v-text-field>
        <v-text-field
            v-model="form.password2"
            :error-messages="repeat_password_errors"
            type="password"
            label="Repita a Senha"
            color="grey darken-3"
            solo
            required
            dense
        ></v-text-field>
        <v-btn
            :loading="is_loading"
            color="white"
            type="submit"
            outlined
            x-large
        >
          Atualizar
        </v-btn>
      </form>
    </v-col>
  </v-row>
</template>

<script>
import { required, email, minLength, sameAs } from "vuelidate/lib/validators"
import { mapState } from "vuex"

export default {
  name: "Register",

  data: () => ({
    is_loading: false,
    form: {
      first_name: "",
      last_name: "",
      email: "",
      password: "",
      password2: ""
    },
    warnings: []
  }),
  validations: {
    form: {
      first_name: { required },
      last_name: { required },
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8)
      },
      password2: {
        required,
        minLength: minLength(8),
        sameAs: sameAs("password")
      }
    }
  },
  computed: {
    ...mapState(["user"]),
    first_name_errors () {
      const errors = []
      if (!this.$v.form.first_name.$dirty) return errors
      !this.$v.form.first_name.required && errors.push("Primeiro nome obrigatório")
      return errors
    },
    last_name_errors () {
      const errors = []
      if (!this.$v.form.last_name.$dirty) return errors
      !this.$v.form.last_name.required && errors.push("Último nome obrigatório")
      return errors
    },
    email_errors () {
      const errors = []
      if (!this.$v.form.email.$dirty) return errors
      !this.$v.form.email.required && errors.push("Email obrigatório")
      !this.$v.form.email.email && errors.push("Você usar um email válido")
      return errors
    },
    password_errors () {
      const errors = []
      if (!this.$v.form.password.$dirty) return errors
      !this.$v.form.password.required && errors.push("Senha obrigatório")
      !this.$v.form.password.minLength && errors.push("Senha deve conter no mínimo 8 dígitos")
      return errors
    },
    repeat_password_errors () {
      const errors = []
      if (!this.$v.form.password2.$dirty) return errors
      !this.$v.form.password2.required && errors.push("Senha obrigatório")
      !this.$v.form.password2.minLength && errors.push("Senha deve conter no mínimo 8 dígitos")
      !this.$v.form.password2.sameAs && errors.push("Senhas não são iguais")
      return errors
    }
  },
  methods: {
    submit () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.is_loading = true
        this.warnings = []
        this.$store.dispatch("update_user", this.form)
          .catch(e => {
            this.is_loading = false
            for (const property in e) {
              // eslint-disable-next-line no-prototype-builtins
              if (e.hasOwnProperty(property)) {
                this.warnings.push({
                  color: "error",
                  message: property + ": " + e[property][0]
                })
              }
            }
          })
          .then(res => {
            this.is_loading = false
            if (res) {
              this.warnings.push({
                color: "success",
                message: "Informações atualizadas."
              })
              this.$v.form.$reset()
            }
          })
      }
    }
  },
  created () {
    this.form.email = this.user.email
    this.form.first_name = this.user.first_name
    this.form.last_name = this.user.last_name
  }
}
</script>
